{
  BasedOnStyle: LLVM,
  UseTab: Never,
  IndentWidth: 4,
  TabWidth: 4,
  BreakBeforeBraces: Attach,
  AllowShortIfStatementsOnASingleLine: true,
  IndentCaseLabels: true,
  ColumnLimit: 0,
  AccessModifierOffset: -4,
  PointerAlignment: Middle,
  AllowShortFunctionsOnASingleLine: All,
  AllowShortBlocksOnASingleLine: true,
  AllowShortLoopsOnASingleLine: true,
  SpaceAfterCStyleCast: false,
  IndentPPDirectives: None,
  AlignAfterOpenBracket: BlockIndent,
  Cpp11BracedListStyle: false,
}
